<div>
  <div class="d-flex flex-column" style="margin-top: 150px;">
    <h1 class="d-flex justify-content-center ">Olá, <%= current_user.name %></h1>
    <div class="d-flex justify-content-center ">
      <%= link_to "Não está funcionando o botão de deletar", user_registration_path(current_user), method: :delete %>
    </div>
  </div>
</div>
